<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/index.css" />
        <script src="static/index.js"></script>
        <title>Pymint</title>
    </head>
    <body>
        <button onclick="connectwallet()">Connect your wallet!</button>
        <button onclick="donate()">Donate!</button>
        <button onclick="mintbyid(document.getElementById('mintid').value);">Mint!</button>
        <input id="mintid" placeholder="Mint ID">
        <h3>Current Mint Price: </h3>
        <p id="currentprice"><em>loading...</em></p>
    </body>
</html>