<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/index.css" />
        <script src="static/index.js"></script>
        <title>Pymint</title>
    </head>
    <body>
        <button style="position: fixed; left: 0%; top: 0%" onclick="connectwallet()">Connect your wallet!</button>
        <h1 style="margin: auto;">Pymint NFTS</h1>
        <div id="mintwidget">
            <h2>MINT YOUR OWN!</h2>
            <button onclick="mintbyid(document.getElementById('mintid').value);">Mint!</button>
            <input id="mintid" placeholder="Mint ID">
            <h3>Current Mint Price: </h3>
            <p class="flickerFade" id="currentprice"><em>loading...</em></p>
            <p class="flickerFade" id="unminted"><em>loading...</em></p>
        </div>
        <button style="position: absolute; bottom: 5%;" onclick="donate()">Donate!</button>
    </body>
</html>